@import '../../style/themes/index';

@aside-prefix-cls: ~'@{neco-prefix}-aside';

.@{aside-prefix-cls} {
  height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

  .@{aside-prefix-cls}-logo {
    height: 32px;
    margin: 16px 0;
    padding: 0 10px 0 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;

    > img {
      height: 100%;
    }

    > span {
      margin-left: 6px;
      vertical-align: middle;
    }
  }
}
